@{
    ViewData["Title"] = "Start";
}

<div class="w-100 text-center title-div p-5">
    <h1 class="fw-bold text-danger">Flyerify</h1>
    <p>Mensagens que impressionam</p>
</div>
<div class="w-100 img-div push-notification-img p-5">
    <div class="w-25 bg-white rounded p-2 shadow-lg">
        <h3 class="text-danger fw-bold">Personalidade</h3>
        <p>Encontre os clientes certos!</p>
    </div>
</div>
<div class="w-100 img-div gmail-img p-5">
    <div class="w-25 bg-white rounded p-2 shadow-lg">
        <h3 class="text-danger fw-bold">Destaque</h3>
        <p>Invista em inovação!</p>
    </div>
</div>