@{
    ViewData["Title"] = "Não Encontrado";
}
<div class="w-100 text-center title-div p-5">
    <h2 class="fw-bold text-warning">Oops!(</h2>
</div>
<div class="w-100 text-center error">
    <p>Não conseguimos encontrar o que você procura! :(</p>
</div>