@{
    ViewData["Title"] = "Templates";
}

<div class="w-100 text-center title-div p-5">
    <h2 class="fw-bold text-warning">Selecione seu template</h2>
</div>
<div class="w-100 d-flex justify-content-center">
    <div class="template-display-grid">
        <a class="template-grid-item" href="">
            <img src="/assets/images/template1.png" alt="">
            <p>Template 1</p>
        </a>
        <a class="template-grid-item" href="">
            <img src="/assets/images/template2.png" alt="">
            <p>Template 2</p>
        </a>
        <a class="template-grid-item" href="">
            <img src="/assets/images/template1.png" alt="">
            <p>Template 1</p>
        </a>
        <a class="template-grid-item" href="">
            <img src="/assets/images/template2.png" alt="">
            <p>Template 2</p>
        </a>
    </div>
</div>