@{
    ViewData["Title"] = "Templates";
}
@model List<TemplateModel>
<div class="w-100 text-center title-div p-5">
    <h2 class="fw-bold text-warning">Selecione seu template</h2>
</div>
<div class="w-100 d-flex justify-content-center">
    <div class="template-display-grid">
        @foreach (TemplateModel template in Model)
        {
            <a class="template-grid-item" href="/Home/Template/@template.id">
                <img src="@template.imagePath" alt="">
                <p>@template.title</p>
            </a>
        }
    </div>
</div>